git
.gitignore
node_modules
**/node_modules
.next
**/.next
dist
**/dist
build
**/build
.turbo
**/.turbo
.cache
**/.cache
**/.env
!apps/nextjs/.env
.dockerignore
Dockerfile
docker-compose*
README.md
*.log
coverage
.vscode
.idea
analyze

