@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 240 6% 8%;
    --card: 0 0% 100%;
    --primary: 240 6% 8%;
    --primary-foreground: 204 17% 96%;
    --secondary: 0 0% 77%;
    --secondary-foreground: 240 7% 8%;
    --muted: 0 0% 77%;
    --muted-foreground: 217 22% 65%;
    --success: 140 82% 40%;
    --destructive: 0 75% 55%;
    --border: 0 0% 75%;
    --radius: 12px;
  }
}
